#pins.transition-enabled
  - if @alojamientos.any?
    - @alojamientos.each do |alojamiento|
      .box.panel-default
        = link_to (image_tag alojamiento.pics.first.image.url) , alojamiento
        .panel-body
          %h2= link_to alojamiento.title , alojamiento
  - else
    %h3 Aún no hay nada de alojamientos!
