.col-md-6.col-md-offset-3
  %h1 alojamientos
  - if @alojamientos.any?
    - @alojamientos.each do |alojamiento|
      %h4= link_to alojamiento.title , alojamiento
  - else
    %h4 Aún no hay nada de alojamientos!
