.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 Edit Transport Form
      .panel-body
        = image_tag @transport.pics.first.image.url(:medium)
        = render 'form'
