.col-md-6.col-md-offset-3
  %h1 transports
  - if @transports.any?
    - @transports.each do |transport|
      %h4= link_to transport.title , transport
  - else
    %h4 Aún no hay nada de transportes!
