.row
  .col-md-8.col-md-offset-2
    %h3
      %strong
        = commentable.comments.count
        comment(s)
    - commentable.comments.each do |comment|
      .panel.panel-default
        .panel-heading
          = comment.user.email
        .panel-body.pan
          = comment.body
          .btn-group.pull-right
            = render partial: 'comments/comment_likes' , locals: {comment: comment , commentable: commentable}
