<p align="center">
    <h1 align="center" >Normas de Publicación y Recomendaciones </h1>
</p>
</br>
<p>
    Como regla básica, y tal como se específica en las Condiciones de Uso de No Canceles, los anuncios tienen que respetar las leyes y cualesquiera otras
    normas del ordenamiento jurídico aplicable, las buenas costumbres y el orden público.
</p>
<p>
    Más allá los anunciantes tienen que respetar las Normas Generales de Publicación. Es importante tener en cuenta que las reglas se actualizan con frecuencia
    y por lo tanto cambian con el tiempo. No Canceles se reserva el derecho de decidir cuándo un anuncio va contra las normas y el espíritu del Portal y, por
    lo tanto, cuándo es necesario eliminarlo del sitio. Cualquier anuncio o usuario que no convenga con las Condiciones de Uso o las Reglas de Publicación será
    eliminado y bloqueado de la página.
</p>
<p>
    Como norma general se entenderá como no aceptable cualquier uso de No Canceles que <strong>perjudique o moleste a los otros usuarios</strong> que utilizan
    el portal.
</p>
<p>
    <strong>NORMAS GENERALES DE PUBLICACIÓN</strong>
</p>
<ol>
    <li>
        <p>
            Hay que respetar las categorías y las secciones.
        </p>
    </li>
    <li>
        <p>
            Es necesario cumplimentar todos los datos obligatorios en el formulario de publicación de anuncios.
        </p>
    </li>
    <li>
        <p>
            No está permitido publicar un anuncio idéntico o similar a otro ya publicado.
        </p>
    </li>
    <li>
        <p>
            No está permitido utilizar correos ficticios para publicar un anuncio.
        </p>
    </li>
    <li>
        <p>
            No está permitido escribir el anuncio en mayúsculas.
        </p>
    </li>
    <li>
        <p>
            No está permitido publicar servicios de publicación de anuncios.
        </p>
    </li>
    <li>
        <p>
            No está permitido anunciar algo genérico.
        </p>
    </li>
    <li>
        <p>
            No esta permitido utilizar palabras clave no relacionados al anuncio (“Keyword Spamming”).
        </p>
    </li>
    <li>
        <p>
            No está permitido utilizar sistemas o herramientas para la publicación o renovación masiva y/o automática de anuncios, sin el previo consentimiento
            escrito por No Canceles.
        </p>
    </li>
    <li>
        <p>
            No está permitido copiar, procesar o distribuir el texto y/o las fotos o imágenes de terceros sin su previa autorización.
        </p>
    </li>
    <li>
        <p>
            No está permitido incluir el número de teléfono o el correo electrónico fuera de los campos explícitamente previstos para incluir esta información
            o URL en el campo nombre del formulario al publicar un anuncio.
        </p>
    </li>
    <li>
        <p>
            No está permitido publicar anuncios con contenido erótico, sexual o pornográfico.
        </p>
    </li>
    <li>
        <p>
            En anuncios válidos para toda España, se tiene que indicar la localidad en la que se producirá el evento.
        </p>
    </li>
    <li>
        <p>
            No está permitido poner un precio ficticio para mejorar las posiciones en las búsquedas.
        </p>
    </li>
    <li>
        <p>
            No está permitido publicar anuncios que promocionen negocios que de algún modo puedan ser competidores de No Canceles.
        </p>
    </li>
    <li>
        <p>
            No está permitido poner un precio mayor al de adquisición.
        </p>
    </li>
    <li>
        <p>
            Se pueden publicar anuncios (Siempre que se trate de transacciones entre particulares) del siguiente tipo, indicando siempre los gastos derivados
            por el cambio de nombre: Cualquier tipo de reserva hotelera (Hoteles, Hostales, Apartahoteles o Apartamento), Billetes de Transporte (Avión,
            Autobús o Tren) o Entradas y/o Billetes de Ocio (Cine, Teatro, Concierto, Zoo, Concierto o Estadio, utilizando este último para referirse a
            encuentros deportivos), siempre que esté permitido según la Ley Vigente.
        </p>
    </li>
</ol>
<p>
    <strong>RECOMENDACIONES </strong>
</p>
<ol>
    <li>
        <p>
            No dar nunca datos bancarios y jamás escribirlos en el portal.
        </p>
    </li>
    <li>
        <p>
            Evita hacer transferencias o métodos de pago que no permitan verificar el producto antes de comprarlo.
        </p>
    </li>
    <li>
        <p>
            <a name="_GoBack"></a>
            Conocer la identidad del vendedor y del comprador a través de un documento oficial y guardar sus datos.
        </p>
    </li>
    <li>
        <p>
            Solicitar una foto del billete o reserva, siempre que no lo haya puesto en el anuncio. Imagen en la que no se visualice por completo el número de
            billete, localizador y código de barras, pero si la fecha, hora e itinerario del billete.
        </p>
    </li>
</ol>
