.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1{:align => "center"} Sobre Nosotros y Contactar
      .panel-body
        %p
          %strong No Canceles
          es un portal destinado a servir de intermediario entre compradores y vendedores de reservas.
        %p
          Toda persona que no pueda asistir a un viaje o evento que había reservado con antelación, puede publicar un anuncio para intentar encontrar a una persona
          que esté interesada en asistir con su reserva, así podemos evitar perder nuestro dinero y que se generen gastos adicionales.
        %p
          Cualquier usuario que cumpla nuestras Normas de Publicación puede utilizar este portal para intentar vender su reserva, ya sea un billete de transporte,
          ocio o estancias de hotel, para lo que será necesario estar registrado en nuestra página.
        %p
          %a{:name => "_GoBack"}
          Para cualquier consulta, hemos habilitado un correo electrónico que servirá como vía de contacto con la página y sus administradores.
        %p
          %a{:href => "mailto:nocanceles@gmail.com"} nocanceles@gmail.com
        %p{:align => "right"}
          ¡Gracias por utilizar nuestro servicio!
        %p{:align => "right"}
          El Equipo de No Canceles
