<p >
    <h1 align="center">Términos y Condiciones</h1>
</p>
<p>
    <strong>1. Introducción</strong>
</p>
<p>
    Las presentes condiciones generales de uso de la página web, regulan los términos y condiciones de acceso y uso de www.nocanceles.com, en adelante, «No
    Canceles», que el usuario del Portal deberá de leer y aceptar para usar todos los servicios e información que se facilitan desde el portal. El mero acceso
    y/o utilización del portal, de todos o parte de sus contenidos y/o servicios significa la plena aceptación de las presentes condiciones generales de uso.
</p>
<p>
    <strong>2. Condiciones de uso</strong>
</p>
<p>
    Las presentes condiciones generales de uso del portal regulan el acceso y la utilización del portal, incluyendo los contenidos y los servicios puestos a
    disposición de los usuarios en y/o a través del portal, bien por el portal, bien por sus usuarios, bien por terceros. No obstante, el acceso y la
    utilización de ciertos contenidos y/o servicios puede encontrarse sometido a determinadas condiciones específicas.
</p>
<p>
    <strong>3. Modificaciones</strong>
</p>
<p>
    La página se reserva la facultad de modificar en cualquier momento las condiciones generales de uso del portal. En todo caso, se recomienda que consulte
    periódicamente los presentes términos de uso del portal, ya que pueden ser modificados.
</p>
<p>
    <strong>4. Obligaciones del Usuario</strong>
</p>
<p>
    El usuario deberá respetar en todo momento los términos y condiciones establecidos en las presentes condiciones generales de uso del portal. De forma
    expresa el usuario manifiesta que utilizará el portal de forma diligente y asumiendo cualquier responsabilidad que pudiera derivarse del incumplimiento de
    las normas.
</p>
<p>
    El usuario se compromete a utilizar el Portal, sus contenidos y servicios conforme con
</p>
<ol>
    <li>
        <p>
            La Ley o cualesquiera otras normas del ordenamiento jurídico aplicable
        </p>
    </li>
    <li>
        <p>
            Las presentes Condiciones de Uso
        </p>
    </li>
    <li>
        <p>
            Las Normas de Publicación
        </p>
    </li>
    <li>
        <p>
            Las buenas costumbres
        </p>
    </li>
    <li>
        <p>
            El orden público
        </p>
    </li>
</ol>
<p>
    Asimismo, el Usuario se compromete expresamente a no destruir, alterar, inutilizar o, de cualquier otra forma, dañar los datos, programas o documentos
    electrónicos y demás que se encuentren en el Portal de No Canceles
</p>
<p>
    El Usuario se compromete a no obstaculizar el acceso de otros usuarios al servicio de acceso mediante el consumo masivo de los recursos informáticos a
    través de los cuales No Canceles presta el servicio, así como realizar acciones que dañen, interrumpan o generen errores en dichos sistemas.
</p>
<p>
    El Usuario se compromete a no transmitir, introducir, difundir y poner a disposición de terceros cualquier tipo de material e información (programas,
    virus, macros, applets, controles ActiveX, datos, contenidos, dibujos, archivos de sonido e imagen, etc.) que sean contrarios a la ley, el orden público o
    que causen o sean susceptibles de causar cualquier tipo de alteración en los sistemas informáticos de No Canceles o de terceros.
</p>
<p>
    Con carácter general, para hacer uso de los Servicios del Portal los menores de edad deben haber obtenido previamente la autorización de sus padres,
    tutores o representantes legales, quienes serán responsables de todos los actos realizados a través del Portal por los menores a su cargo.
</p>
<p>
    El Usuario deberá anunciarse en la categoría adecuada e indicar la localidad en la que tendrá lugar el evento y comprometerse a:
</p>
<ol>
    <li>
        <p>
            No incitar a actuar de forma ilegal
        </p>
    </li>
    <li>
        <p>
            No difundir difamaciones, calumnias, injurias y/o contenidos o propaganda de carácter racista, xenófobo, de apología del terrorismo o que atenten
            contra los derechos humanos
        </p>
    </li>
    <li>
        <p>
            No manifestar falsedades o inducir a error
        </p>
    </li>
    <li>
        <p>
            No suplantar a otros usuarios utilizando sus claves de acceso a los distintos servicios y/o contenidos del Portal
        </p>
    </li>
    <li>
        <p>
            No utilizar correos electrónicos ficticios para publicar anuncios
        </p>
    </li>
    <li>
        <p>
            No difundir comunicaciones no solicitadas o autorizadas
        </p>
    </li>
    <li>
        <p>
            No difundir mensajes que atenten contra la dignidad de terceros o que sean groseros o falten el respeto
        </p>
    </li>
    <li>
        <p>
            No usar robots, spiders, “scrapers” o cualquier otro medio automático para acceder al Portal para copiar, retirar, renovar o publicar contenido sin
            previo consentimiento escrito por No Canceles
        </p>
    </li>
    <li>
        <p>
            No almacenar o en cualquier forma recabar información o datos personales de terceros sin su consentimiento, incluidas las direcciones de correo
            electrónico
        </p>
    </li>
    <li>
        <p>
            No esquivar, evitar o “saltar” las medidas utilizadas para impedir o restringir el acceso al Portal
        </p>
    </li>
</ol>
<p>
    <strong>5. Responsabilidad del portal</strong>
</p>
<p>
    El usuario conoce y acepta que el portal no otorga ninguna garantía de cualquier naturaleza, ya sea expresa o implícita, sobre los datos, contenidos,
    información y servicios que se incorporan y ofrecen desde el Portal.
</p>
<p>
    Exceptuando los casos que la Ley imponga expresamente lo contrario, y exclusivamente con la medida y extensión en que lo imponga, el Portal no garantiza ni
    asume responsabilidad alguna respecto a los posibles daños y perjuicios causados por el uso y utilización de la información, datos y servicios del Portal.
</p>
<p>
    En todo caso, el Portal excluye cualquier responsabilidad por los daños y perjuicios que puedan deberse a la información y/o servicios prestados o
    suministrados por terceros diferentes del portal. Toda responsabilidad será del tercero ya sea proveedor o colaborador.
</p>
<p>
    No Canceles no garantiza la disponibilidad, el acceso y/o la continuidad del funcionamiento del Portal y de sus Servicios. Asimismo, No Canceles no será
    responsable, con los límites establecidos por la Ley, de los daños y perjuicios causados al Usuario como consecuencia de la indisponibilidad, fallos de
    acceso y falta de continuidad del Portal y de sus Servicios.
</p>
<p>
    No Canceles no revisa o controla previamente, aprueba ni hace propios los contenidos, productos, servicios, opiniones, comunicaciones, datos, archivos y
    cualquier clase de información de terceros recogidos en el Portal. Asimismo, no garantiza la licitud, fiabilidad, utilidad, veracidad, exactitud,
    exhaustividad y actualidad de los contenidos, informaciones y servicios de terceros en el Portal. No Canceles tampoco garantiza de ninguna forma que los
    Usuarios del Portal utilicen los contenidos y/o servicios del mismo conforme con la ley, las normativas aplicables, el orden público ni las presentes
    Condiciones de Uso.
</p>
<p>
    No Canceles no controla con carácter previo y no garantiza la ausencia de virus y otros elementos en los contenidos y servicios prestados por terceros a
    través del Portal que puedan introducir alteraciones en los equipos de acceso, documentos o ficheros guardados en ellos.
</p>
<p>
    No Canceles no se responsabiliza de los contenidos volcados o los actos cometidos por otros usuarios. Tampoco se responsabiliza de cualquier daño o
    perjuicio como consecuencia de la presencia de virus u otros elementos en los contenidos y servicios prestados por terceros. Asimismo No Canceles no
    responderá de los daños y perjuicios de cualquier naturaleza derivados del uso negligente o malintencionado de las cuentas de correo electrónico utilizadas
    para insertar un anuncio o responder a un anuncio.
</p>
<p>
    En cualquier caso No Canceles no será responsable, ni indirectamente ni subsidiariamente, de la pérdida económica o reputación, ni de ninguna clase de
    daños especiales, indirectos o emergentes, resultantes de la utilización del sitio web por parte del usuario.
</p>
<p>
    La exoneración de responsabilidad señalada en el párrafo anterior será de aplicación en el caso de que No Canceles no tenga conocimiento efectivo de que la
    actividad o la información almacenada es ilícita o de que lesiona bienes o derechos de un tercero susceptibles de indemnización, o si la tuviesen actúe con
    diligencia para retirar los datos y contenidos o hacer imposible el acceso a ellos.
</p>
<p>
    <a name="_GoBack"></a>
    Sin perjuicio de lo dispuesto anteriormente, la posible responsabilidad de No Canceles frente al usuario o frente a terceros se limita a la más alta de las
    siguientes cantidades: (a) el precio total que el usuario ha pagado a No Canceles durante los doce meses previos al acto que originó la responsabilidad, o
    bien (b) la cantidad de cien (100) euros.
</p>
<p>
    <strong>6. Propiedad intelectual e industrial</strong>
</p>
<p>
    Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento susceptible de protección por la legislación
    de propiedad intelectual o industrial, que sean accesibles en el portal corresponden exclusivamente al portal o a sus legítimos titulares y quedan
    expresamente reservados todos los derechos sobre los mismos. Queda expresamente prohibida la creación de enlaces de hipertexto (links) a cualquier elemento
    integrante de las páginas web del Portal sin la autorización de la empresa, siempre que no sean a una página web del Portal que no requiera identificación
    o autenticación para su acceso, o el mismo esté restringido.
</p>
<p>
    En cualquier caso, el portal se reserva todos los derechos sobre los contenidos, información datos y servicios que ostente sobre los mismos. El portal no
    concede ninguna licencia o autorización de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que expresamente se detalle en las
    presentes condiciones generales de uso del portal.
</p>
<p>
    <strong>7. Legislación aplicable, jurisdicción competente y notificaciones</strong>
</p>
<p>
    Las presentes condiciones se rigen y se interpretan de acuerdo con las Leyes de España. Para cualquier reclamación serán competentes los juzgados y
    tribunales de Murcia. Todas las notificaciones, requerimientos, peticiones y otras comunicaciones que el Usuario desee efectuar al portal deberán
    realizarse por escrito y se entenderá que han sido correctamente realizadas cuando hayan sido recibidas en la siguiente dirección: nocanceles@gmail.com
</p>
